#images {
  width: 250px;
  height: 250px;
}

#profile-image {
  width: 250px;
  position: absolute;
  border-radius: 50%;
  outline: 2px #2add1a solid;
  padding: 10px;
}

#logo-image {
  width: 75px;
  position: relative;
  left: 175px;
  top: 175px;
}

header > h1, header > p {
  text-align: center;
}