a, li, ul {
  width: 250px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

a:not(#portfolio-link) {
  padding: 5px 10px;
  border: 1px white solid;
  border-radius: 100px;
  transition: all .3s;
}

a:hover:not(#portfolio-link) {
  color: black;
  background-color: white;
}

#portfolio-link {
  padding: 5px 10px;
  border: 1px #2add1a solid;
  border-radius: 100px;
  transition: all .3s;
  color: #2add1a;
}

#portfolio-link:hover {
  color: black;
  background-color: #2add1a;
}

#portfolio-link i {
  width: fit-content;
  height: 40px;
}

#portfolio-link i img {
  height: 40px;
}

path {
  transition: all .3s;
}

#instagram a i, #linkedin a i, #github a i {
  width: 30px;
  height: 30px;
}

#instagram a i svg, #linkedin a i svg, #github a i img {
  width: 30px;
  height: 30px;
}

#instagram .hover i svg path {
  stroke: #171516;
}

#linkedin .hover i svg path {
  stroke: #171516;
  fill: #171516;
}

#github a i img {
  filter: invert(1);

}

#github .hover i img {
  filter: invert(0);
}